.form {
  /* max-width: 275px; */
  padding: 24px 16px;
  margin-bottom: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 624px;
  }
}
.control {
  position: relative;
  width: 240px;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  background-color: var(--form-inactive-bg);
  color: var(--form-inactive-text);
  border: none;
  outline: none;
}
.control:hover,
.control:focus {
  background-color: var(--form-active-bg);
  color: var(--form-active-text);
  border: 1px solid var(--dark-btn-color);
  outline: none;
}
.group {
  margin-bottom: 16px;
}
.textarea {
  width: 240px;
  height: 100px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  background-color: var(--form-inactive-bg);
  color: var(--form-inactive-text);
  border: none;
  outline: none;
  resize: none;
}
.flag {
  width: 24px;
  height: 18px;
  position: absolute;
  top: 132%;
  left: 30%;
  z-index: 101;
}
.telControl {
  position: relative;
  width: 240px;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  background-color: var(--form-inactive-bg);
  color: var(--form-inactive-text);
  border: none;
  outline: none;
  padding-left: 60px;
}
.select {
  position: absolute;
  top: 130.5%;
  left: 31%;
  background-color: var(--form-inactive-bg);
  color: var(--form-inactive-text);
  border: none;
  outline: none;
  z-index: 100;
}

/* .formItem {
  /* position: relative; */

/* .label {
  position: absolute;
  left: 10px;
  top: 43px;
  transition: top 0.5s;
}
.control:focus + .label,
.control:not(::placeholder) + .label {
  top: 10px;
}
.control:focus,
.textarea:focus {
  outline: none;
  border: 1px solid var(--dark-btn-color);
  transition-duration: 0.3s;
} */
