.header {
  padding: 24px;
  margin-bottom: 50px;
}
.logo {
  width: 66px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 110px;
    height: 40px;
  }
}
.bg {
  position: absolute;
  width: 240px;
  height: 263.78px;
  left: -127.5px;
  top: 59.73px;
  background: linear-gradient(267.33deg, #018fde 19.54%, #072e44 123.71%);
  opacity: 0.14;
  filter: blur(150px);
  transform: matrix(0.58, -1.01, 0.62, 0.64, 0, 0);
}
.toggle {
  outline: none;
  border: none;
}
